body{
  font-family: 'Roboto', sans-serif;
}
input{
border:  1px solid rgba(34,36,38,.15);
border-radius:.28571429rem;
padding:.67857143em 1em;
}
input:focus{
  border-color: #85b7d9;
background: #fff;
color: rgba(0,0,0,.8);
}
input.error{
  background-color: #fff6f6;
border-color: #e0b4b4;
color: #9f3a38;
-webkit-box-shadow: none;
box-shadow: none;
}
