@charset "UTF-8";
@import "normalize.css";
html,
body,
#root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}
.main-head {
  grid-area: header;
}
.main-content {
  grid-area: content;
}
.main-leftsidebar {
  grid-area: leftsidebar;
}
.main-footer {
  grid-area: footer;
}
.main-head {
  background-color: green;
}
.main-leftsidebar {
  background-color: #607d8b;
  color: white;
  transition: all 1s;
}
.main-footer {
  background-color: orange;
}
.wrapper {
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(30px, 80px) 1fr 30px;
  grid-template-areas: "leftsidebar  header" "leftsidebar content" "leftsidebar      footer";
}
.main-head {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.main-head .nav-condizioni {
  grid-area: nav-condizioni;
}
.main-head .nav-menucataweb {
  grid-area: nav-menucataweb;
}
.main-head .nav-user {
  grid-area: nav-user;
}
.main-head .nav-agente {
  grid-area: nav-agente;
}
.main-head .nav-cliente {
  grid-area: nav-cliente;
}
.main-head .nav-carrello {
  grid-area: nav-carrello;
}
.main-head .nav-ricerca {
  grid-area: nav-ricerca;
}
.main-head .nav-logo {
  grid-area: nav-logo;
}
.main-head .nav-menu {
  grid-area: nav-menu;
}
.main-head .nav-burgermenu {
  grid-area: nav-burgermenu;
}
.main-head div {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
.main-head .nav-menu div {
  flex-grow: 1;
  min-width: 100px;
}
.main-head .nav-menu div {
  justify-content: center;
}
.main-head .nav-logo {
  display: none;
}
@media only screen and (min-width: 751px)  {
  .main-head .nav-logo {
    display: flex;
    display: -webkit-flex;
  }
}
.main-head .nav-menu {
  display: none;
}
@media only screen and (min-width: 751px)  {
  .main-head .nav-menu {
    display: flex;
    display: -webkit-flex;
  }
}
.main-head .nav-burgermenu {
  display: flex;
  display: -webkit-flex;
}
@media only screen and (min-width: 751px)  {
  .main-head .nav-burgermenu {
    display: none;
  }
}
.main-head .nav-cliente {
  justify-content: left;
}
.main-head .nav-agente {
  justify-content: left;
}
.main-head {
  display: grid;
  grid-gap: 0px;
  background-color: #607d8b;
  color: white;
  grid-template-columns: 80px  1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "nav-burgermenu   nav-user" " nav-carrello nav-carrello ";
}
@media only screen and (min-width: 751px)  {
  .main-head {
    grid-template-columns: 80px 300px auto auto auto  auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nav-condizioni  nav-logo nav-agente nav-cliente nav-carrello nav-user" ". nav-logo nav-menu nav-menu nav-menu nav-menu";
  }
}
/*
.nav-logo:after{
    position:absolute;top:0;right:-24px;z-index:1;display:block;width:38px;height:73px;background-color:white;content:" ";-webkit-transform:skewX(20deg);-moz-transform:skewX(20deg);-ms-transform:skewX(20deg);-o-transform:skewX(20deg);transform:skewX(20deg)}

.nav-logo:before{position:absolute;top:0;left:67px;z-index:1;display:block;width:38px;height:83px;background-color:white;content:" ";-webkit-transform:skewX(20deg);-moz-transform:skewX(20deg);-ms-transform:skewX(20deg);-o-transform:skewX(20deg);transform:skewX(20deg)}
*/
.nav-logo {
  background-color: white;
  height: 90px;
  width: 280px;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
}
.nav-logo img {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
}
.nav-menu {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}
.nav-menu a {
  border-bottom: none;
  border-bottom: 3px solid #607d8b;
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
}
.nav-menu a:hover {
  border-bottom: 3px solid white;
}
.nav-menu a.active {
  border-bottom: 3px solid white;
}
.nav-menu a:visited {
  color: white;
}
.nav-menu a.nav-disabled {
  pointer-events: none;
  color: lightgrey;
}
.nav-menucataweb {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 5px;
  font-style: normal;
  font-size: 1.2em;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  line-height: 36px;
  color: white;
}
/*
.nav-menucataweb:hover {
  background: #1A535C;
  color: #fff;
}
*/
.main-leftsidebar.menu-open {
  z-index: 10;
  width: 400px;
  outline: none;
  -moz-box-shadow: -4px 0px 13px #333333;
  -webkit-box-shadow: -4px 0px 13px #333333;
  box-shadow: -4px 0px 13px #333333;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.main-leftsidebar {
  width: 40px;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.main-leftsidebar.menu-open .nav-menucataweb {
  float: right;
}
.main-leftsidebar-commands {
  float: right;
  width: 40px;
  height: 100%;
  justify-content: center;
  text-align: center;
}
.nav-agente,
.nav-cliente {
  font-size: 12px;
}
.nav-ricerca input {
  outline: none;
}
.nav-ricerca input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
.nav-ricerca input::-webkit-search-decoration,
.nav-ricerca input::-webkit-search-cancel-button {
  display: none;
}
.nav-ricerca input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 300px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 0.5em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  margin-top: 5px;
}
.nav-ricerca input[type=search]:hover {
  background-color: #fff;
}
.nav-ricerca input[type=search]:focus {
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  width: 300px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.nav-ricerca input:-moz-placeholder {
  color: transparent;
}
.nav-ricerca input::-webkit-input-placeholder {
  color: transparent;
}
i.icon {
  font-size: 22px;
}
.hover:hover {
  cursor: pointer;
}
