@charset "UTF-8";

@import "normalize.css";

@import "mediaqueries.less";
@import "colors.less";

@import "pagegrid.less";

@import "navbar.less";
@import "navricerca.less";

@import "navmenu.less";
@import "nav-leftsidebar.less";

@import "materialshadow.less";

@import "tables.less";
@import "generic.less";
@import "daticontabili.less";
@import "cliente.less";


@import "carrello-articolo.less";

// i.icon{
//  font-size:22px!important;
// }
.hover:hover{
  cursor:pointer;
}

.ui.form .inline.field>.selection.dropdown, .ui.form .inline.fields .field>.selection.dropdown{
  display:inline-block!important;
}
.ui.dropdown .menu{
  left:0px!important;
}


.ui.tiny.form .ui.dropdown .menu>.item{
    font-size: .85714286rem;
}

.ui.button{
  background-color: @rimarybutton;
}
