.ReactTable {
   // height: calc(100% - 15px);
  /*padding-top:30px; */

  // height: 100%;
  max-height: 97%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  background-color: white;
}

.ReactTable .rt-th {
  background-color: @primary-bg;
  color: @primary;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  text-align: left;
}

.Reactable-container {
  height: 100%;
  // overflow: hidden;
  margin: auto;
  padding:10px;
  padding-top:0px;
}
.ReactTable .rt-tr-group {
  cursor: pointer;
}
.ReactTable .rt-tr-group:hover {
  background-color: @primary-bg;
  color: @primary;
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  webkit-box-shadow: inset 0 -3px 0 0 @primary!important;
  box-shadow: inset 0 -3px 0 0 @primary!important;
}
.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  webkit-box-shadow: inset 0 3px 0 0 @primary!important;
  box-shadow: inset 0 3px 0 0 @primary!important;
}
.ReactTable .rt-tbody {
  display: block;
}

.icona-scaduto {
  color: red !important;
}

.ReactTable .rt-tr-group {
  height: 43px;
}

input[type="search"].search {
  background: white
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 6px 22px 6px 32px;
  width: 130px;
  /* padding-left: 32px; */
  cursor: pointer;
  border-radius: 0.5em;
  // -webkit-transition: all 0.2s;
  // -o-transition: all 0.2s;
  // transition: all 0.2s;
  /* margin-top: 5px; */
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  outline: none;
}
.search.search-input:focus {
    padding-left: 5px;
    background: white;
    width: 157px;
}
.searchinput-container {
  position: relative;
  height: 35px;
}
.searchinput-input {
  padding: 6px 12px;
  border: 1px solid #c7c7c7;
  color: #555;
}

.searchinput-clear {
  position: relative;
  right: -170px;
  top: -26px;
  font-size: 16px;
  color: #777;
  cursor:pointer;
}
